body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "kanit", sans-serif;
  background-color: #f4f4f4;
}

.main {
  display: flex;
}

nav {
  background-color: #001F54;
  height: 4.75rem;
  width: 100%;
  position: relative;
}

.nav-img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 1.875rem;
  float: right;
  margin-right: 2.5rem;
  margin-top: 0.5rem;
}

.footer-dashboard{
  display: flex;
  align-items: center;
  justify-content:end;
  background-color: #001F54;
  position: sticky;
  top: 0;
}

.footer-dashboard ul{
list-style-type: none;
padding-right: 1rem;
}

.footer-dashboard ul li{
  display: inline-block;
}

.footer-dashboard ul li a {
  color: white;
  text-align: center;
  padding: 1.5rem 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
}

footer nav ul li a {
  padding-bottom: 0;
}

aside {
  width: 15rem;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

aside::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}

.top-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.top-name {
  color: #FAF7FF;
  font-weight: bold;
  margin-top: 0.625rem;
}

.navigation {
  background-color: #0A1128;
  color: #fff;
}

.navigation ul {
  list-style: none;
  padding: 0;
}

.navigation li {
  margin-bottom: 0.625rem;
  margin-left: 1.25rem;
}

.navigation a {
  color: #FAF7FF;
  text-decoration: none;
  display: block;
  padding: 0.625rem;
  transition: background-color 0.3s;
}

.navigation a:hover {
  background-color: #09163f;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #001F54;
  padding: 0;
  margin-left: 1.25rem;
  width: 12.5rem;
  z-index: 1000;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu li a {
  display: block;
  color: #FAF7FF;
  text-decoration: none;
  padding: 0.625rem;
}

.dropdown-menu li a:hover {
  background-color: #034078;
}

.right {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}

.total-trip,
.total-ticket,
.total-booking,
.total-passenger {
  background-color: #00A671;
  width: 13.125rem;
  height: 11.5625rem;
  margin: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.trip-info,
.ticket-info,
.booking-info,
.passenger-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: auto;
  text-align: center;
  color: #F9F871;
}

.total-trip-down,
.total-ticket-down,
.total-booking-down,
.total-passenger-down {
  font-size: 2.8125rem;
  font-weight: 500;
}

.total-trip-up,
.total-ticket-up,
.total-booking-up,
.total-passenger-up {
  font-size: 1.375rem;
  font-weight: 550;
}