* {
    margin: 0;
    padding: 0;
    font-family: "kanit", sans-serif;
}

main {
    padding: 2rem;
    max-width: 500px;
    margin: auto;
}

form {
    display: block;
    margin-top: 1rem;
    border: 1px solid #000;
    padding: 4rem 3rem;
    border-radius: 5px;
}

form h1 {
    text-align: center;
    margin-bottom: 2rem;
}

form div {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #D5527A;
    color: white;
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #218838;
}

.remember-forgot {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: .9rem;
    margin-left: 35px;
}

.remember-left {
    display: flex;
}

input[type="checkbox"] {
    width: .9rem;
    height: .9rem;
    margin: 0;
    margin-top: .3rem;
}

label {
    margin-left: 5px;
}

.forgot-right {
    margin-left: 8rem;
}

.down-function {
    text-align: center;
}

.have-account, .forgot-password {
    text-decoration: none;
    color: rgb(45, 112, 238);
}

.have-account:hover, .forgot-password:hover{
    text-decoration: underline;
}

.icons {
    margin-top: 1rem;
}

.icons i {
    font-size: 28px;
}

.icons .fa-square-facebook {
    color: #3b5998;
}

.icons .fa-google {
    color: #4285F4;
}

.icons .fa-linkedin {
    color: #0077B5;
}

.icons a {
    padding-right: 10px;
    text-decoration: none;
    color: inherit;
}

.icons a:visited {
    text-decoration: none;
    color: inherit;
}